/*----------RESET----------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*---------- MAIN STYLING ----------*/
body {
    /* background: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%); */
    background: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe);
    font-size: 1vw;
    line-height: 1.6em;
    background-size: 400% 400%;
	-webkit-animation: gradient 15s ease infinite;
	        animation: gradient 15s ease infinite;  
    /* overflow: hidden;*/
}

/* for the background */
@-webkit-keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
a {
    text-decoration: none;
}
/* fonts */
@font-face {
    font-family: firstfont;
    src: url(./fonts/ZenDots-Regular.ttf);
}

@font-face {
    font-family: secondfont ;
    src: url(./fonts/JosefinSans-VariableFont_wght.ttf);
}

h1 {
    font-family: firstfont;
    color: aliceblue;
    text-align: center;
    text-shadow: 2px 2px 5px rgb(230, 152, 253);
    font-size: 2em;
    padding-bottom: 20px;
}

h2,
h3,
h4,
p,
a {
    font-family: secondfont;
    color: aliceblue;
}

.logo {
    padding-top: 20px;
}
/*---------NAVBAR-----------*/
.navbar {
    list-style: none;
    background-color: rgba(255, 255, 255, 0);
    overflow: auto;
    display: flex;
    justify-content: center;
}

.nav-container {
    width: 1100px;
    display: flex;
    justify-content: flex-end;
}

.nav li {
    float: left;
}

.navbar li a {
    display: block;
    color: aliceblue;
    text-decoration: none;
    padding: 50px 20px;
}
      
.navbar li a:hover {
    text-shadow: 2px 2px 5px rgb(230, 152, 253);
    font-size: 1.1em;
}
.nav-container h2 a {
    font-family: firstfont;
}    
/* .logo h1 {
    color: aliceblue;
    text-shadow: 2px 2px 5px rgb(255, 255, 255);
    padding-top: 70px;
} */


/* ----------CONTACT---------- */

#contact {
    /* padding-top: 30px; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 60px;
}


/* for the contact box */
.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  backdrop-filter: blur(5px);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3s);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #9a9ae1;
  font-size: 12px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: aliceblue;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.login-box a:hover {
  background: #9a9ae1;
  color: aliceblue;
  border-radius: 5px;
  box-shadow: 0 0 5px #9a9ae1,
              0 0 25px #9a9ae1,
              0 0 50px #9a9ae1,
              0 0 100px #9a9ae1;
}

.login-box a span {
  position: absolute;
  display: block;
}

.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #9a9ae1);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
} */

/* .login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #9a9ae1);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #9a9ae1);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #9a9ae1);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}



/* ----------FOOTER----------- */

/* footer {
  color: aliceblue;
  font-size: 16px;
} */

#footer .f-row {
  padding: 1em 1em;
}
#footer .f-row.primary {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 2fr;
  align-items: stretch;
}
#footer .f-column {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 2em;
  min-height: 15em;
}
#footer .f-column.subscribe h3 {
  /* width: 100%; */
  font-family: firstfont;
  text-align: left;
  color: aliceblue;
  white-space: nowrap;
}
#footer ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}
#footer li:not(:first-child) {
  margin-top: 0.8em;
}
#footer ul li a {
  color: aliceblue;
  text-decoration: none;
}
#footer ul li a:hover {
  color: #52cffe;
}
/* .f-about p {
  text-align: justify;
  line-height: 2;
  margin: 0;
} */
#footer input,
button {
  font-size: 1em;
  padding: 1em;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 5px;
}
#footer button {
  background-color: #52cffe;
  color: aliceblue;
}
#footer .social {
  display: flex;
  justify-content: space-around;
  font-size: 2.4em;
  flex-direction: row;
  margin-top: 0.5em;
}
#footer .social i {
  color: aliceblue;
}

/* .copyright {
  padding: 0.3em 1em;
} */
#footer .footer-menu{
  float: left;
  margin-top: 10px;
}

#footer .footer-menu a{
  color: aliceblue;
  padding: 6px;
  text-decoration: none;
}
#footer .footer-menu a:hover{
  color: #52cffe;
}