/*----------RESET----------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*---------- MAIN STYLING ----------*/
body {
    /* background: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%); */
    background: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #46eefa, #5ffbf1);
    font-size: 1vw;
    line-height: 1.6em;
    background-size: 400% 400%;
	-webkit-animation: gradient 10s ease infinite;
	        animation: gradient 10s ease infinite;  
    /* overflow: hidden;*/
    height: 100vh;
}

/* for the background */
@-webkit-keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
a {
    text-decoration: none;
}
/* fonts */
@font-face {
    font-family: firstfont;
    src: url(./fonts/ZenDots-Regular.ttf);
}

@font-face {
    font-family: secondfont ;
    src: url(./fonts/JosefinSans-VariableFont_wght.ttf);
}

h1 {
    font-family: firstfont;
    color: aliceblue;
    text-align: center;
    text-shadow: 2px 2px 5px rgb(230, 152, 253);
    font-size: 2em;
    padding-bottom: 10px;
}

h2,
h3,
h4,
p,
a {
    font-family: secondfont;
    color: aliceblue;
}

.logo {
    padding-top: 20px;
}



/*---------- UTILITY CLASSES ----------*/
.container {
    margin: auto;
    max-width: 1200px;
    overflow: auto;
    /* padding: 0 20px; */
}

.btn {
    display: inline-block;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    background: #9a9ae1;
    border: #9599e2;
    padding: 13px 20px;
    border-radius: 3px;
    cursor: pointer;
}

.btn:hover {
    background: transparent;
    border: 2px solid #9599e2;
    margin-top: 5px;
}

.box {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3s);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}

/*---------NAVBAR-----------*/
.navbar {
    list-style: none;
    background-color: rgba(255, 255, 255, 0);
    overflow: auto;
    display: flex;
    justify-content: center;
}

.nav-container {
    width: 1100px;
    display: flex;
    justify-content: flex-end;
}

.nav li {
    float: left;
}

.navbar li a {
    display: block;
    color: aliceblue;
    text-decoration: none;
    padding: 50px 20px;
}
      
.navbar li a:hover {
    text-shadow: 2px 2px 5px rgb(230, 152, 253);
    font-size: 1.1em;
    transition: all .5s;
}
.nav-container h2 a {
    font-family: firstfont;
}  

h1 {
    display: flex;
    justify-content: center;
    font-size:120px;
    padding: 1em;
}

.overlay-text {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    z-index: 100;
    font-family: firstfont;
    color: aliceblue;
    text-shadow: 2px 2px 5px rgb(230, 152, 253);
    align-items: center
  }

.overlay-text #visible {
  display: flex;
  flex-direction: column;
}

#text {
    width: 100%;
    position: relative;
    padding: 50px;
}
  
.news-row-con {
    width:1100px;
    display:flex;
    gap:20px;
    flex-wrap:wrap;
    /* margin:auto; */
}
  
.news-row {
    width:538px;
    height:250px;
    border-radius:10px;
    box-shadow:3px 3px 3px #0e0e0e;
    border:1px solid palevioletred;
    overflow:hidden;
}
  
.news-row-top {
    width:100%;
    height:30px;
    background:black;
    border-bottom:1px solid #0e0e0e;
    padding:10px;
    box-sizing:border-box;
    font-size:12px;
    text-align:right;
    text-transform:uppercase;
}
  
  .bottom-flex {
    width:75%;
    display:flex;
    gap:10px;
    align-items:center;
    justify-content:flex-end;
  }
  
  .post-title {
    font-size:20px;
    color:var(--lblue);
    text-transform:lowercase;
    text-align:right;
    font-weight:900;
    text-shadow:2px 2px 2px #0e0e0e;
  }
  
  .post-info {
    font-size:12px;
    text-transform:uppercase;
    text-align:right;
    font-weight:900;
  }
  
  .post-stuff {
    
  }
  
  
  .btns a {
    width:fit-content;
    font-size:12px;
    padding:10px 7px 7px 7px;
    border-radius:20px;
    text-align:center;
    margin:0px 10px;
    text-decoration:none;
    text-transform:uppercase;
    font-weight:900;
    box-shadow:2px 2px 2px #0e0e0e;
    
  }
  
  .btns {
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    width:fit-content;
    margin:0px auto;
  }
  
  .bottom-con {
    width:100%;
    height:220px;
    display:flex;
    flex-direction:column;
    align-items:flex-end;
    justify-content:center;
    gap:20px;
    box-sizing:border-box;
    padding-right:20px;
  }
  
  /* .category-row-title {
    font-size:50px;
    text-align:right;
    text-shadow:2px 2px 2px #0e0e0e;
    text-transform:lowercase;
    position:relative;
    z-index:3;
    font-weight:900;
    margin-bottom:50px;
  } */