/*----------RESET----------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*---------- MAIN STYLING ----------*/
body {
    /* background: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%); */
    background: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #46eefa, #5ffbf1);
    font-size: 1vw;
    line-height: 1.6em;
    background-size: 400% 400%;
	-webkit-animation: gradient 10s ease infinite;
	        animation: gradient 10s ease infinite;  
    /* overflow: hidden;*/
    /* height: 100vh; */
}

/* for the background */
@-webkit-keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
a {
    text-decoration: none;
}
/* fonts */
@font-face {
    font-family: firstfont;
    src: url(./fonts/ZenDots-Regular.ttf);
}

@font-face {
    font-family: secondfont ;
    src: url(./fonts/JosefinSans-VariableFont_wght.ttf);
}

h1 {
    font-family: firstfont;
    color: aliceblue;
    text-align: center;
    text-shadow: 2px 2px 5px rgb(230, 152, 253);
    font-size: 1.5em;
    padding-bottom: 10px;
}

h2,
h3,
h4,
p,
a {
    font-family: secondfont;
    color: aliceblue;
}

.logo {
    padding-top: 20px;
}

/*---------- UTILITY CLASSES ----------*/
.container {
    margin: auto;
    max-width: 1200px;
    overflow: auto;
    padding: 20px;
    gap: 20px;
}

.sect_wrap {
    font-family: secondfont;
    max-width: 1020px;
    margin: 0 auto;
    padding: 100px 50px;
    position: relative;
}

.sect-title {
    text-align: center;
    font-family: firstfont;
    font-size: 2.5em;
    line-height: 65px;
    padding: 40px;
    text-shadow: 2px 2px 5px rgb(230, 152, 253);
    margin-top: 60px;
}

.btn {
    display: inline-block;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    background: #9a9ae1;
    border: #9599e2;
    padding: 13px 20px;
    border-radius: 3px;
    cursor: pointer;
}

.btn:hover {
    background: transparent;
    border: 2px solid #9599e2;
    margin-top: 5px;
}

.box {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3s);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}

/*---------NAVBAR-----------*/
.navbar {
    list-style: none;
    background-color: rgba(255, 255, 255, 0);
    overflow: auto;
    display: flex;
    justify-content: center;
}

.nav-container {
    width: 1100px;
    display: flex;
    justify-content: flex-end;
}

.nav li {
    float: left;
}

.navbar li a {
    display: block;
    color: aliceblue;
    text-decoration: none;
    padding: 50px 20px;
}
      
.navbar li a:hover {
    text-shadow: 2px 2px 5px rgb(230, 152, 253);
    font-size: 1.1em;
    transition: all .5s;
}
.nav-container h2 a {
    font-family: firstfont;
}    

/*-------------FOOTER-----------------*/
#footer{
    background: #111;
    height: auto;
    width: 100vw;
    padding-top: 40px;
    margin-top: 80px;
    color: aliceblue;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3{
    font-size: 2.1rem;
    font-weight: 500;
    line-height: 3rem;
    font-family: secondfont;
}

.footer-content p {
    font-family: secondfont;
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: aliceblue;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: aliceblue;
    border: 1px solid aliceblue;
    padding: 10px;
    border-radius: 50%;
}
.socials a i{
    font-size: 1.1rem;
    /* width: 20px; */
    transition: color .4s ease;
}
.socials a:hover i{
    color: aqua;
}

.footer-bottom{
    background: #000;
    width: 100vw;
    padding: 20px;
    padding-bottom: 40px;
    text-align: center;
}

.footer-bottom p{
    float: left;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
 }
 .footer-bottom p a{
   color:#44bae8;
   font-size: 16px;
   text-decoration: none;
 }
 .footer-bottom span{
     text-transform: uppercase;
     opacity: .4;
     font-weight: 200;
 }

 .footer-menu{
    float: right;
  }
  
  .footer-menu ul{
    display: flex;
  }
  
  .footer-menu ul li{
  padding-right: 10px;
  display: block;
  }
  
  .footer-menu ul li a{
    color: aliceblue;
    text-decoration: none;
  }
  
  .footer-menu ul li a:hover{
    color: #27bcda;
  }
/*--------------- HOME ---------------*/
#home {
    width: 100%;
    position: relative;
    padding: 50px;
}

.header h1 {
    display: flex;
    justify-content: center;
    font-size:120px;
    padding: 1em;
}
/*--------- SLIDESHOW--------- */
.slideshow {
    position: relative;
    width: 45%;
    height: 550px;
    overflow: hidden;
}

.slides {
    width: 100%;
    height: 700px;
    position: relative;
    transition: .5s ease;
}

/* next and previous buttons */
.slideshow-btn, .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    color: #c777b9;
    font-weight: bold;
    font-size: 30px;
    transition: .5s ease;
    border-radius: 0 3px 3px 0;
    padding: 1rem;
  }

  .slideshow-btn:hover, 
  .slideshow-btn:focus {
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.2);
  } /*on hover*/

  .prev {
    left: 0; /*for positioning the previous button to the left*/
  }
  
  .next {
    right: 0; /*for positioning the next button to the rightt*/
  }

  .controls {
    display: flex;
  }

  #play, #stop {
    cursor: pointer;
    position: relative;
    margin: 10px auto;
    padding: 10px;
    color: aliceblue;
    font-weight: bold;
    font-size: 20px;
    transition: .5s ease;
    border-radius: 3px;
    width: fit-content;
    display: block;
    }

    #stop {
        display: none;
    }
    
    /*the dots/indicators and images*/
    #indicator {
    text-align: center;
    }
    
    .dot {
    cursor: pointer;
    height: 70px;
    width: 70px;
    margin: 0 2px;
    margin-top: 10px;
    border-radius: square;
    display: inline-block;
    transition: .5s ease;
    }

    .img1 {
        background: url(./img/slideshow/slideshow.jpg) no-repeat center center/cover ;
    }

    .img2 {
        background: url(./img/slideshow/slideshow1.jpg) no-repeat center center/cover;
    }

    .img3 {
        background: url(./img/slideshow/slideshow2.jpg) no-repeat center center/cover;
    }
    
    .img4 {
        background: url(./img/slideshow/slideshow3.jpg) no-repeat center center/cover;
    }

    .img5 {
        background: url(./img/slideshow/slideshow4.jpg) no-repeat center center/cover;
    }

    .img6 {
        background: url(./img/slideshow/slideshow5.jpg) no-repeat center center/cover;
    }

    
/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/*----------INFO SECTION----------*/

#upper-section, #bottom-section {
    display: flex;
    flex-direction: row;
    margin-bottom: 3em;
    padding-bottom: 3em;
}

.info-img {
    height: 352px;
    flex-grow: 2;
}

.infonews-img {
    background: url(./img/news.jpg) no-repeat center center/cover;
}

.infomerch-img {
    background: url(./img/merch.png) no-repeat center center/cover;
}

.flex-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 2;
}

/*---------------- chacacter section ------------------*/
#home .sect-title {
    text-align: center;
    font-family: firstfont;
    font-size: 1.5em;
    line-height: 65px;
    text-shadow: 2px 2px 5px rgb(230, 152, 253);
}

.card{
    margin: 90px;
    position: relative;
    width: 900px;
    height: 330px;
    display: flex;
    align-items: center;
    background: url(./img/background1.png);
}
.card img{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 330px;
    transition: all .5s;
}
.card:hover img{
    height: 450px;
    left:80%;
}
.card-content{
    position: relative;
    width: 100%;
    left:20%;
    color: aliceblue;
    opacity: 0;
    transition: 0.5s;
}
.card:hover .card-content{
    left: 5%;
    opacity: 1;
}

.card-content a{
    color:black;
    padding: 5px 10px;
    text-decoration: none;
    background: aliceblue;
    border-radius: 2px;
}

.card-content p {
    text-shadow: 2px 2px 5px rgb(230, 152, 253);
    font-size: 1.1em;
    transition: all .5s;
    font-family: firstfont;
}

/* music player */
    /*flex with the column direction to
    align items in a vertical direction */
.player {
    height: 70vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
        
.details {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 15px;
}
        
.track-art {
    margin: 15px;
    height: 200px;
    width: 200px;
    background-size: cover;
    background-position: center;
    border-radius: 15%;
}
        
/* Changing the font sizes */
.now-playing {
    font-size: 1rem;
    font-family: secondfont;
    color: aliceblue;
}
        
.track-name {
    font-size: 2rem;
    color: aliceblue;
    font-family: secondfont;
}
        
.track-artist {
    font-size: 2rem;
    font-family: firstfont;
    padding-top: 5px;
    color: aliceblue;
    text-shadow: 2px 2px 5px rgb(230, 152, 253);
}
        
/*flex with the row direction to align items in a horizontal direction */
.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
}
        
.playpause-track,
.prev-track,
.next-track {
    padding: 25px;
    opacity: 0.8;
/* Smoothly transition the opacity */
    transition: opacity .2s;
}
        
/* Change the opacity when mouse is hovered */
.playpause-track:hover,
.prev-track:hover,
.next-track:hover {
    opacity: 1.0;
}
        
/* Define the slider width so that it scales properly */
.slider_container {
    width: 75%;
    max-width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}
        
/* Modify the appearance of the slider */
.seek_slider, .volume_slider {
    appearance: none;
    height: 5px;
    background: aliceblue;
    opacity: 0.7;
    /* -webkit-transition: .2s; */
    transition: opacity .2s;
}

/* Modify the appearance of the slider thumb */
.seek_slider::-webkit-slider-thumb,
.volume_slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: aliceblue;
    cursor: pointer;
    border-radius: 50%;
}
        
/* Change the opacity when mouse is hovered */
.seek_slider:hover,
.volume_slider:hover {
    opacity: 1.0;
}
        
.seek_slider {
    width: 60%;
}
        
.volume_slider {
    width: 30%;
}
        
.current-time,
.total-duration {
    padding: 10px;
    color: aliceblue;
}
        
i.fa-volume-down,
i.fa-volume-up {
    padding: 10px;
    color: aliceblue;
}
        
/* Change the mouse cursor to a pointer when hovered over */
i.fa-play-circle,
i.fa-pause-circle,
i.fa-step-forward,
i.fa-step-backward {
    cursor: pointer;
    color: aliceblue;
}



/*--------------------ABOUT---------------------*/
/*-----------------CONTENT------------------*/
.flex-container {
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100vw;
    gap: 40px;
}
.right-side img {
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.right-side {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.left-side h1,
.left-side p {
    padding: 20px;
    text-align: center;
    color: aliceblue;
}
.left-side h1{
    text-shadow: 2px 2px 5px rgb(230, 152, 253);
}
.left-side p {
    font-size: large;
}
.left-side {
    width: 50vw;
}
.top {
    display: flex;
    align-items: flex-end;
    gap: 20px;
}
.bottom {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.top a:nth-child(1):hover img {
    cursor: pointer;
    box-shadow: 0px 0px 30px 5px #6440A2;
}

.top a:nth-child(2):hover img {
    cursor: pointer;
    box-shadow: 0 0 30px 5px #7BC57A;
}

.bottom a:nth-child(1):hover img {
    cursor: pointer;
    box-shadow: 0 0 30px 5px #F99500;
}

.bottom a:nth-child(2):hover img {
    cursor: pointer;
    box-shadow: 0 0 30px 5px #16B0BA;
}
 
#lightbox {
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    display: none;
  }
  
  #lightbox.active {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #lightbox img {
    max-width: 90%;
    max-height: 80%;
    padding: 4px;
    background-color: black;
    border: 2px solid white;
  }
    
  .close{
    color: white;
    cursor: pointer;
    float: left;
    font-size: 32px;
    margin: 10px;
    position: absolute;
  }
  
  .clear{
    clear: both;
  }


/* --------------MERCH--------------- */
#merch .container {
    display: flex;
    position: relative;
    z-index: 0;
    max-width: 1100px;
    z-index: 0;
    overflow: hidden;
}

.pagetitle {
    margin: 100px;
    text-align: center;
    font-family: firstfont;
}

#merch .sect-title {
    padding: 5px;
}

.goods-inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 25px;
}

.goods-box {
    border-radius: 15px;
    margin-bottom: 30px;
    background: rgba(0, 0, 0, .2);
    padding: 20px;
    position: relative;
    z-index: 1;
    /* width: calc((100% - 80px)/ 4); */
}

li {
    list-style: none;
    display: list-item;
    text-align: center;
}

.goods-inner p, ul {
    padding: 0;
    margin: 0;
}

.goods-inner ul {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.goods-box a {
    display: block;
    background-color: transparent;
}

a:link {
    text-decoration: none;
    cursor: pointer;
}

.goods-box img {
    object-fit: cover;
    object-position: center;
}

/*.card:hover {
    border-top: 2px solid blueviolet;
    border-left: 2px solid blueviolet;
    border-bottom: 2px solid rgb(238, 103, 238);
    border-right: 2px solid rgb(238, 103, 238);
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
   }
   

/* --------------CONTACT--------------- */

#contact {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 40px;
    gap: 4rem;
}


.contact-box {
    /* position: relative; */
    padding: 40px; /*50px*/
    top: 50%;
    left: 50%;
    width: 400px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3s);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.contact-box h1 {
    margin: 0 0 30px;
    text-align: center;
    font-size: 30px;
}

/*inputs and labels styling*/
.user-box {
    position: relative;
}

.user-box input {
    width: 100%;
    padding: 10px 0;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid aliceblue;
    outline: none;
    background: transparent;
}

.user-box label {
    position: absolute;
    top: 0;
    left: 0;
    color: aliceblue;
    font-size: 20px;
    font-family: secondfont;
    pointer-events: none;
    transition: .5s;
}

.user-box input:focus ~ label {
  top: -20px;
  left: 0;
  color: aliceblue;
  font-size: 16px;
}

textarea {
    font-family: secondfont;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.07);
    /* border: none; */
    border-bottom: 1px solid #fff;
}

.contact-box #submit-button {
    color: aliceblue;
    background-color: transparent;
    position: relative;
    display: inline-block;
    padding: 10px 10px;
    font-size: 16px;
    /* overflow: hidden; */
    transition: .5s;
    margin-top: 20px;
    letter-spacing: 2px;
}


#error_message {
  margin-bottom: 20px;
  background: #fa444a;
  color: white;
  font-weight: 700;
  padding: 0;
  text-align: center;
  font-family: secondfont;
  font-size: 16px;
  transition: all 0.5s ease;
}


/*---------------------NEWS---------------------*/

/*overlay text -- click to start */
/* .overlay-text {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    z-index: 100;
    font-family: firstfont;
    color: aliceblue;
    text-shadow: 2px 2px 5px rgb(230, 152, 253);
    align-items: center
  }

.overlay-text #visible {
  display: flex;
  flex-direction: column;
} */


/*------- concert section --------*/
#update {
    width: 100%;
    position: relative;
    padding: 20px;
}

.overview {
    text-align: center;
    color: aliceblue;
    font-family: secondfont;
}

.label {
    border-bottom: 2px solid #fff;
    padding-bottom: 6px;
    font-size: 20px;
    font-weight: 700;
    font-family: secondfont;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.label .area {
    width: 230px;
}
.label .date {
    width: 180px;
}

.label .details {
    width: 100px;
}

.cont {
    display: flex;
    padding: 40px 0;
    -webkit-box-align: center;
    align-items: center;
    border-bottom: 2px solid aliceblue;
    color: aliceblue;
}

.cont .area {
    width: 230px;
    margin-right: 10px;
    font-weight: 600;
    font-size: 30px;
    font-family: secondfont;
    line-height: 38px;
    color: aliceblue;
}

.cont .date {
    width: 180px;
    margin-right: 10px;
    color: aliceblue;
}

.cont .news {
    width: 230px;
    margin-right: 10px;
    font-weight: 700;
    font-size: 33px;
    font-family: secondfont;
    line-height: 38px;
    color: aliceblue;
}

.cont .live {
    color: aliceblue;
    font-size: 17px;
}

/*------- software updates section ------ */
.cont .details {
    width: 500px;
    margin-right: 10px;
    color: aliceblue;
}

.cont .details ul li {
    list-style: none;
    font-family: secondfont;
    text-align: left;
}



/*media queries*/
@media (max-width:500px) {
    .footer-menu ul{
      display: flex;
      margin-top: 10px;
      margin-bottom: 20px;
    }
    }